pandas
numpy
scikit-learn
tensorflow
keras
yfinance
alpha_vantage
requests
beautifulsoup4
matplotlib
plotly
seaborn
streamlit
python-dotenv
openpyxl
sqlalchemy
xgboost
torch
torchvision
torchaudio
statsmodels
uvicorn
fastapi
joblib

# DEV
pytest
flake8
black
isort