pandas
numpy
scikit-learn
tensorflow
keras
yfinance
alpha_vantage
requests
beautifulsoup4
matplotlib
plotly
seaborn
streamlit
python-dotenv
openpyxl
sqlalchemy
xgboost
torch
torchvision
torchaudio
statsmodels

# DEV
pytest
flake8